<form (ngSubmit)="calculator()">
    <fieldset>
        <legend>Formulário de financiamento</legend>
        <div class="wrapper">
            <div class="form-control">
                <label for="amount">Valor <span style="color: red">*</span></label>
                <input type="number" name="amount" min="0" max="5" [(ngModel)]="calculatorFinancing.amount">
                <span>Min 1 - Max 5.</span>
            </div>
            <div class="form-control">
                <label for="entry">Entrada <span style="color: red">*</span></label>
                <input type="number" name="entry"[(ngModel)]="calculatorFinancing.entry">
                <span>Min 0</span>
            </div>
            <div class="form-control">
                <label for="parcel">Quantidade de meses <span style="color: red">*</span></label>
                <input type="number" min="0" max="100" name="parcel"[(ngModel)]="calculatorFinancing.parcel">
                <span>Min 1 - Max 100.</span>
            </div>
            <div class="form-control">
                <label for="rate">Taxa de juros <span style="color: red">*</span></label>
                <input type="number" name="rate" [(ngModel)]="calculatorFinancing.rate">
                <span>Min 1</span>
            </div>
        </div>
        <button type="submit">Calcular</button>
    </fieldset>
</form>

<br/>

<table class="table">
    <thead>
        <tr>
            <th>Número da parcela</th>
            <th>Data de pagamento</th>
            <th>Valor</th>
            <th>Juros</th>
            <th>Amortização</th>
            <th>Saldo Devedor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of financingForm">
            <td>{{item.parcel}}</td>
            <td>{{item.datePayment}}</td>
            <td>R$ {{item.installment}}</td>
            <td>R$ {{item.tax}}</td>
            <td>R$ {{item.amortization}}</td>
            <td>R$ {{item.balanceDue}}</td>
        </tr>
    </tbody>
</table>